* {
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
}

window#waybar {
    background: transparent;
}

box.module,
label.module {
    margin: 4px;
    padding: 2px;
    min-width: 64px;
    border-radius: 12px;
}

#window {
    padding: 10px;
    color: #1d2021;
    background: #a89984;
}

window#waybar.empty #window {
    background: transparent;
}

#workspaces {
    background: #a89984;
}

#workspaces button {
    color: #1d2021;
}

#workspaces button.active {
    color: #fbf1c7;
}

#clock {
    font-weight: 800;
    background: #1d2021;
}

#tray {
    background: #d79921;
}

#pulseaudio {
    background: #98971a;
}

#memory,
#network {
    padding-left: 8px;
    padding-right: 8px;

}

#cpu {
    background: #d65d0e;
}

#memory {
    background: #cc241d;
}

#network {
    background: #458588;
}
