configuration {
    modes: "window,drun,run,ssh";
    font: "JetBrainsMono Nerd Font 12";
    location: 0;
    yoffset: 0;
    xoffset: 0;
    fixed-num-lines: true;
    show-icons: false;

    timeout {
        action: "kb-cancel";
        delay: 0;
    }

    filebrowser {
        directories-first: true;
        sorting-method: "name";
    }
}

@import"dmenu.rasi"




/* vim:ft=css
